

#wrapper{
  background-color: #004080;
  font-family: "Times New Roman", Arial, Verdana;
  overflow: hidden;
  height: auto;
  padding: 10px;

}

#header{
  background-color: red;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 100%;
}

#navigation{
  width: 180px;
  background-color: #45C3B8;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#main_content{
  background-color: black;
  width: 720px;
  display: inline-block;
  color: white;
  border-radius: 15px;
  float: right;
  padding: 10px;
  margin: 10px;
}

#footer{
  background-color:grey;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.term_highlight{
  color: 	#9370DB;
}
